/* CSS Document - USED FONT GEORGIA */
#dhtmlgoodies_progressBar_txt{
	color:#322332;
	z-index:10000;
	width:180px;
/*	height:100px;*/
/*	left:100px;*/
	top:120px;
	position:absolute;		
	font-family:Georgia;
	font-size:11px;
	line-height:20px;	/* Same as height of progress bar */
	text-align:center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left:10px;
	border:0px solid #FF0000;
}

body {
	margin:0px 0px 0px 0px;
	background:#e7f6c9;
	background-repeat:repeat-x;
	background-position:center top;
}
.toplinktxt {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#e80e11;
	text-align:right;
	padding:0px 5px 7px 5px;
}
.toplinks {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	padding:0px 15px 0px 15px;
	text-decoration:none;
}
.toplinks:hover{
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	padding:0px 15px 0px 15px;
	text-decoration:underline;
}
.hdrbg {
	
	background-position:center top;
	background-repeat:repeat-x;
	padding:2px;
    
}
.menubg {
	padding:0px 0px 0px 0px;
/*	text-align:center;*/
}
.menuactive {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#7b06f1;
	text-align:center;
	background:url(../images/menu_activebg.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	text-decoration:none;
	height:31px;
	cursor:hand;
	cursor:pointer;
}
.menuinactive {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#FFFFFF;
	text-align:center;
	background:url(../images/menu_inactivebg.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	text-decoration:none;
	height:31px;
	cursor:hand;
	cursor:pointer;
}
.mnsidetitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#F1F1F1;
	padding:0px 10px 0px 10px;
/*	background:#06425C;*/
	line-height:25px;
	border-bottom:1px solid #CEC9A1;
}

.mnsidelinkact {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#484848;
	padding:0px 10px 0px 10px;
/*	background:#F3F3F3;003851*/
	border-bottom:1px solid #DDDDDD;
	text-decoration:none;
	height:25px;
	cursor:hand;
	cursor:pointer;
	text-align:left;
}
.mnsidelinkactb {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	background:#0A5D82;
	border-bottom:1px solid #DDDDDD;
	text-decoration:none;
	height:25px;
	cursor:hand;
	cursor:pointer;
	text-align:left;
}
.mnsidelinksub {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	padding:0px 10px 0px 20px;
	background:#488BA9;
/*	border-bottom:1px solid #DDDDDD;*/
	text-decoration:none;
	height:25px;
	cursor:hand;
	cursor:pointer;
	text-align:left;
}
.tblshdw {
	
	width:20%;
	background-color:burlywood;
	background-position:left top;
	background-repeat:repeat-y;
	text-decoration: none;
}
.txt {
	font-family:Georgia;
	font-weight:normal;
	font-size:16px;
	color:#323232;
	text-align:justify;
	padding:0px 20px 10px 20px;
	line-height:20px;
}

.newslinktitle {
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	color:hwb(48 0% 46%);
	line-height:30px;
	background-position:center bottom;
	background-repeat:repeat-x;
}
.newlinktxt {
	font-family:Georgia;
	font-weight:normal;
	font-size:16px;
	color:#DDDDDD;
	text-decoration:none;
	line-height:25px;
	padding:0px 0px 0px 20px;
}
.newslink {
	font-family:Georgia;
	font-weight:normal;
	font-size:16px;
	color:#484848;
	padding:0px 0px 0px 20px;
	text-decoration:none;
	background-position:center left;
	background-repeat:no-repeat;
}
.newslink:hover {
	font-family:Georgia;
	font-weight:normal;
	font-size:14px;
	color:#9A9A9A;
	text-decoration:underline;
	padding:0px 0px 0px 20px;
	background:url(../images/newsarrow.jpg);
	background-position:center left;
	background-repeat:no-repeat;
}
h2 {
	font-family:Georgia;
	font-weight:bold;
	font-size:30px;
	color:#004788;
	line-height:30px;
	padding:10px 0px 10px 0px;
	margin:0px;
	border:0px solid #CC0000;
}
.pgtitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:40px;
	color:hsl(0, 95%, 41%);
	line-height:20px;
	padding:10px 0px 10px 0px;
	margin:0px 0px 5px 0px;
	
}
.alumhdr {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#000000;
	border-bottom:1px solid #06425C;
/*	background:#06425C;*/
	height:25px;
	padding:0px 5px 0px 5px;
}
.alumtxt {
	font-family:Georgia;
	font-weight:normal;
	font-size:18px;
	color:#06425C;
	height:15px;
	padding:0px 0px 0px 0px;
	text-align:left;
}
.alumbox {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#000000;
	border:1px solid #06425C;
/*	background:#06425C;*/
}
.alumbutton {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	border:1px solid #808080;
	background:#C5C5C5;
	padding:0px 20px 0px 20px;
	cursor:pointer;
	cursor:hand;
}
.hlineseparator {
	background:url(../images/hline.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.lftcol {
	font-size: large;
	padding:0px 0px 0px 0px;
/*	background:#F3F3F3;*/
	background:#fdfcf3;
	border-right:1px solid #f10606;
}
.ritecolbg {
	
/*	background:url(../images/ritecolbg.jpg);
	background-position:center top;
	background-repeat:no-repeat;*/
	padding:3px 10px 0px 10px;
}
.ritecoltbl {
	
	background-position:left top;
	background-repeat:no-repeat;
	padding:3px 0px 0px 0px;
	text-align:center;
}

.newstxt {
	font-family:Georgia;
	font-weight:normal;
	font-size:16px;
	color:#323232;
	text-align:justify;
	line-height:18px;
	padding:0px 10px 0px 10px;
}
.newstitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:18px;
	color:#3708f7;
	text-align:justify;
}
.readmore {
	font-family:Georgia;
	font-weight:normal;
	font-size:14px;
	color:#CC0000;
	text-decoration:none;
}
.readmore:hover {
	font-family:Georgia;
	font-weight:normal;
	font-size:14px;
	color:#CC0000;
	text-decoration:underline;
}
.srchbox {
	font-family:Georgia;
	font-sizE:12px;
	font-weight:normal;
	color:#484848;
	border:1px solid #06425C;
}
img.floatLeft { 
    float: left; 
    margin: 7px 8px 0px 4px; 
}
img.floatRight { 
    float: right; 
    margin: 4px; 
}
.titlea {
	font-family:Georgia;
	font-weight:bold;
	font-size:14px;
	color:BLUE;
	margin:0px;
}
.title {
	font-family:Georgia;
	font-weight:bold;
	font-size:14px;
	color:BLUE;
	margin:0px;
	text-decoration:none;
}
.title:hover {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#004788;
	margin:0px;
	text-decoration:underline;
}
.pagination {
	font-family:Georgia;
	font-weight:bold;
	font-size:11px;
	color:BLUE;
	background:url(../images/pagination.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	padding:2px 5px 2px 5px; 
	margin:0px;
	text-decoration:underline;
	border:1px solid #C5C5C5;
	height:20px;
}
.pagetxt {
	font-family:Georgia;
	font-weight:bold;
	font-size:11px;
	color:BLUE;
	padding:0px 5px 0px 5px; 
	margin:0px;
	height:20px;
	text-align:right;
}

.pageprevnex {
	font-family:Georgia;
	font-weight:bold;
	font-size:11px;
	color:#06425C;
	background:url(../images/pagination.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	padding:2px 5px 2px 5px; 
	margin:0px;
	text-decoration:underline;
	border:1px solid #C5C5C5;
	height:20px;
}

.err {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#CC0000;
	margin:0px;
}
.ftrbg {
	background:url(../images/ftrbg.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	height:90px;
}
.ftrtxt {
	font-family:Georgia;
	font-size:14px;
	font-weight:normal;
	color:#000080;
	padding:0px 10px 0px 10px;
}
.ftrlink {
	font-family:Georgia;
	font-size:14px;
	font-weight:normal;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	text-decoration:none;
}
.ftrlink:hover {
	font-family:Georgia;
	font-size:14px;
	font-weight:normal;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	text-decoration:underline;
}
.tilink {
	font-family:Georgia;
	font-size:14px;
	font-weight:normal;
	color:#D1D1D1;
	text-decoration:none;
}
.tilink:hover {
	font-family:Georgia;
	font-size:14px;
	font-weight:normal;
	color:#FFFFFF;
	text-decoration:none;
}
.pgimgtxt {
	font-family:Georgia;
	font-size:12px;
	font-weight:bold;
	color:#004788;
	text-align:center;
}
.pgimg {
	border:1px solid #C5C5C5;
}
.smlinks {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#484848;
	text-decoration:none;
}
.smlinks:hover {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#484848;
	text-decoration:underline;
}
.smtitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#004788;
	list-style:none;
} 
.smsubtitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#484848;
	text-decoration:none;
	padding:2px 0px 2px 45px;
	list-style:none;
	background:url(../images/smsubimg.gif);
	background-position:top left;
	background-repeat:no-repeat;
} 
.smsubsubtitle {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#484848;
	text-decoration:none;
	padding:2px 0px 2px 45px;
	list-style:none;
	background:url(../images/smsubimg.gif);
	background-position:center left;
	background-repeat:no-repeat;
} 
.yptitle {
	font-family:Georgia;
	font-weight:bold;
	font-size:14px;
	color:#004788;
	text-align:center;
	height:30px;
}
.yptblhdr {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
	border:1px solid #06425C;
	background:#06425C;
	height:25px;
	padding:0px 5px 0px 5px;
}
.yptblsubhdr {
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
	border:1px solid #06425C;
	background:#086A95;
	height:25px;
	padding:0px 5px 0px 5px;
}
.yptbltxt {
	font-family:Georgia;
	font-weight:normal;
	text-align:left;
	font-size:12px;
	color:#484848;
	border:1px solid #06425C;
	height:25px;
	padding:0px 5px 0px 5px;
}
.ypplaintbltxt {
	font-family:Georgia;
	font-weight:normal;
	text-align:left;
	font-size:12px;
	color:#484848;
	height:25px;
	padding:0px 5px 0px 5px;
}

.scrolltxt {font-family:Georgia;font-size:12px;font-weight:bold;color:#166c9d;line-height:20px;background:url(../images/alrt-bullet.jpg) no-repeat;background-position:top left;border:1px solid #CC0000;padding:0px 0px 0px 20px;}
.scrolltxt a.alrtlink{color:#166c9d;font-weight:bold;text-decoration:underline;}
.scrolltxt a.alrtlink:hover{color:#166c9d;font-weight:bold;text-decoration:none;}
/**
 * = Firefox Fixes
 * ----------------------------------------------------------
 */
@-moz-document url-prefix() {
	body { 
		overflow: -moz-scrollbars-vertical; 
	}
	*:-moz-any-link {
		overflow: hidden;
	}
	
	input[type="text"], input[type="password"], textarea { 
		overflow: auto;
	}
	
}