/* CSS Document - USED FONT GEORGIA */
h1 {
	font-family:Georgia;
	font-weight:bold;
	font-size:50px;
	color:#086495;
	margin:0px;
}

h2{
	font-family:Georgia;
	font-weight:bold;
	font-size:18px;
	color:#004788;
	margin:0px;
}

h3{
	font-family:Georgia;
	font-weight:bold;
	font-size:16px;
	color:#004788;
	margin:0px;
}

h4{
	font-family:Georgia;
	font-weight:bold;
	font-size:15px;
	color:#004788;
	margin:0px;
}

h5{
	font-family:Georgia;
	font-weight:bold;
	font-size:13px;
	color:#004788;
	margin:0px;
}
h6{
	font-family:Georgia;
	font-weight:bold;
	font-size:12px;
	color:#004788;
	margin:0px;
}
.text {
	font-family:Georgia;
	font-size:12px;
	font-weight:normal;
	color:#323232;
	line-height:20px;
}

.table_header {
	font-family:Georgia;
	font-weight:normal;
	font-size:30px;
	color:#0cf160;
	border:1px solid #06425C;
	background:#06425C;
	height:25px;
	padding:0px 5px 0px 5px;
}

.table_subheader {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	border:1px solid #06425C;
	background:#086A95;
	height:25px;
	padding:0px 5px 0px 5px;
}

.table_text {
	font-family:Georgia;
	font-weight:normal;
	font-size:32px;
	color:#44BB44;
	border:1px solid #06425C;
	height:25px;
	padding:0px 5px 0px 5px;
}
.table_text {
	font-family:Georgia;
	font-weight:normal;
	font-size:32px;
	color:#06425C;
	border:1px solid #06425C;
	height:25px;
	padding:0px 5px 0px 5px;
}

.image_margin {
    margin: 0px 10px 0px 10px; 
}
.photogallery_link {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#001122;
	padding:5px 0px 5px 28px;
	text-decoration:none;
	line-height:40px;
	background:url(../images/album.jpg);
	background-repeat:no-repeat;
	background-position:center left;
}
.photogallery_link:hover {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#CACACA;
	padding:5px 0px 5px 28px;
	line-height:30px;
	text-decoration:none;
	background:url(../images/albuma.jpg);
	background-repeat:no-repeat;
	background-position:center left;
}
.link {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#0000FF;
	text-decoration:none;
}
.link:hover {
	font-family:Georgia;
	font-weight:normal;
	font-size:12px;
	color:#0000FF;
	text-decoration:underline;
}